.choixselector input{
    display: none;
};

.choixselector input:active +.test{opacity: .9;}
.choixselector input:checked +.test{
    -webkit-filter: none;
    -moz-filter: none;
            filter: none;
}
.test{
    cursor:pointer;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.test:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}